<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    <h2 class="post-subtitle" itemprop="abstract description">{{ .Params.subtitle }}</h2>
    <p class="post-meta">
      <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format "Jan 01, 2006" }}</time>
      {{ with .Author }}
        {{ " • " }}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>
      {{- end -}}
      {{/*  
      {{- if page.categories != empty or page.tags != empty -}}
      {{ " • " }}<a href="{{ site.url }}category/{{ page.category | slugify }}">{{ page.category }}</a>
      {{- end -}}
      */}}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ .Content }}
  </div>

  {{/*
  {{- if site.comments == true and page.comments != false -}}
    <div class="post-comments" itemprop="comment">
      {{- include comments.html -}}
    </div>
  {{- endif -}}
  */}}

</article>
