/**
 * Site header
 */
.site-title {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 3rem;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color;
  }
}

.site-nav {
  float: right;
  line-height: 3rem;

  // Dark Mode
  svg {
    vertical-align: middle;
    height: 1.4em;
    width: 1.4em;
    cursor: pointer;
  }

  a {
    vertical-align: middle;
  }

  // Common
  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: inline-block;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }

  @include media-query($on-palm) {
    .page-link {
      padding: 0.2em 0;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 0.2em;
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  font-size: 15px;
  color: $grey-color;
  text-align: center;
}


/**
 * Index
 */
.post-list-meta {
  display: inline-block;
  min-width: 120px;
  font-size: 1em;
  vertical-align: top;
}

.post-list-title {
  display: inline-block;
  max-width: calc(100% - 125px);
  color: darken($brand-color, 10%);
  font-size: 1em;
}

.post-list-subtitle {
  display: inline-block;
  max-width: calc(100% - 125px);
  font-size: 1em;
}

.post-list-category,
.page-heading {
  font-size: 1.5em;
}


/**
 * Sidebar
 */
.sidebar {
  flex: 1 0 0;
  @include media-query($on-laptop) {
    display: none;
  }
}

.wrapper {
  width: 80%;
  flex: 3 0 0;
}

.flex-parent{
  display: flex;
 }


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-link:hover {
    text-decoration: none;
  }

  > li {
    margin-bottom: $spacing-unit / 2;
  }
}

p.post-list {
  padding-top: $spacing-unit * 0.25;
  padding-bottom: $spacing-unit * 0.25;
  margin-bottom: $spacing-unit;
}

.post-archives {
  margin-left: 0;
  list-style: none;

  .post-link {
    font-size: 24px;
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
  }
}

.post-continue {
  a {
    padding: 8px 15px;
    text-decoration: none;

    &,
    &:visited {
      color: $grey-color-dark;
      background-color: $grey-color-light;
    }

    &:hover {
      color: white;
      background-color: $brand-color;
    }
  }
}


/**
 * Table of Contents
 */
.post-toc {
  padding: 1em 0;
  display: none;
  @include media-query($on-laptop) {
    display: block;
  }
}

.sidebar-toc {
  position: sticky;
  align-self: start;
  top: 1em;
  font-size: 0.8em;
  margin-top: 10em;
  ul, li {
    margin-left: 0.5em;
  }
  @include media-query($on-laptop) {
    display: none;
  }
}


/**
 * Posts
 */
.post-title {
  font-size: 2.2em;
  @include media-query($on-laptop) {
    font-size: 1.7em;
  }
  margin-bottom: 0.2em;
}

.post-subtitle {
  font-size: 1.4em;
  @include media-query($on-laptop) {
    font-size: 1.4em;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
  padding-top: $spacing-unit * 0.5;
  padding-bottom: $spacing-unit * 0.5;

  h1 {
    font-size: 2rem;
    @include media-query($on-laptop) {
      font-size: 1.6rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    @include media-query($on-laptop) {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.4rem;
    @include media-query($on-laptop) {
      font-size: 1.3rem;
    }
  }

  h4 {
    font-weight: bold;
  }
}


/**
 * Pagination
 */
.pagination {
  padding: $spacing-unit / 2 0;
  border-top: 1px solid $grey-color;
  border-bottom: 1px solid $grey-color;
  text-align: center;
  @extend %clearfix;

  a {
    color: $text-color;
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
