<!DOCTYPE html>
{{ "<!-- begin: layouts/_default/baseof.html -->" | safeHTML }}
<html lang="en">
    {{ partial "head" . }}
    <body>
        {{ partial "header" . }}
        <main class="page-content flex-parent">
            <div class="sidebar">
            </div>
            <div class="wrapper">
                {{- block "main" . -}}
                    {{- .Content -}}
                {{- end -}}
            </div>
            <div class="sidebar">
                {{ partial "sidebar" . }}
            </div>
        </main>
        {{ partial "footer" . }}
    </body>
    {{ partial "scripts" . }}
{{ "<!-- end: layouts/_default/baseof.html -->" | safeHTML }}
</html>