{{ define "main" }}
{{"<!-- begin: layouts/_default/single.html -->" | safeHTML }}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        <h2 class="post-subtitle" itemprop="abstract description">{{ .Params.subtitle }}</h2>
        <p class="post-meta">
            <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format "Jan 02, 2006" }}</time>
            {{ " • " }}<span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ .Site.Author.url }}"><span itemprop="name">{{ .Site.Author.name }}</span></a></span>
            {{ range .Params.categories }}{{ " • " }}
                {{ with $.Site.GetPage . }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        </p>
    </header>
        
        <div class="post-content" itemprop="articleBody">
            {{ .Content }}
        </div>
        
        {{ if not (eq .Params.comments false) }}
        {{ template "_internal/disqus.html" . }}
        {{ end }}
        
    </article>
    {{"<!-- end: layouts/_default/single.html -->" | safeHTML }}
    {{ end }}