@charset "utf-8";

// Our variables
$base-font-size:   18px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Font size mixin
@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials from the `whiteglass` theme
@import "whiteglass";


/**
 * Home Page
 */

// Support for dark theme
// @media (prefers-color-scheme: dark) {
//   html {
//     background-color: invert($background-color);
//     filter: invert(95%) hue-rotate(180deg);
//   }

//   iframe, img, video {
//     filter: invert(95%) hue-rotate(180deg);
//   }
// }

/**
 * Posts
 */

.post-list {
  > li {
    margin-bottom: $spacing-unit / 2;

    &:not(:first-child) {
      border: 0;
      padding: 0;
    }
  }
}

.post-header {
  margin-bottom: 0;
}

.post-title {
  @include relative-font-size(2);

  @include media-query($on-laptop) {
    @include relative-font-size(2)
  }
}

.post-subtitle {
  @include relative-font-size(1.2);

  @include media-query($on-laptop) {
    @include relative-font-size(1.2);
  }
}

.footnotes {
  @include relative-font-size(0.8);
  color: $grey-color;
}

figcaption {
  font-size: $small-font-size;
  font-style: italic;
  text-align: center;
}

// Subscripts and Superscripts should not affect line height
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


/**
 * Index
 */

.post-list-meta {
  display: inline-block;
  min-width: 120px;
  line-height: $base-line-height;
  vertical-align: text-top;
  @include relative-font-size(0.9);
}

.post-list-title {
  display: inline-block;
  max-width: calc(100% - 125px);
  line-height: $base-line-height;
  vertical-align: top;
  @include relative-font-size(1.1);
}

.post-list-subtitle {
  color: darken($brand-color, 10%);
  display: inline-block;
  max-width: calc(100% - 125px);
  line-height: $base-line-height;
  vertical-align: text-top;
  @include relative-font-size(0.9);
}

.post-list-category,
.page-heading {
  @include relative-font-size(1.5);
}

.post-list-title > a {
  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
  }
}

/**
 * Display
 */

.site-header {
  height: 60px;
}

.site-footer {
  height: 40px;
  padding: 10px 0;
}

.page-content {
  // header: 60px
  // footer: 40px + (10px + 10px)
  // body: min-height + (30px + 30px)
  min-height: calc(100vh - 180px);
}

/**
 * About
 */

.profile-image {
  float: right;
  margin: 2vw;
  border-radius: 50%;
  max-width: 30%;
  @include media-query($on-palm) {
    max-width: 70%;
    margin: auto;
    display: block;
    float: none;
  }
}

// Correct position of pagination markers
.pagination {
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

// Standardize line heights
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
