@charset "utf-8";
// Import partials from the `whiteglass` theme
@import "whiteglass";

/**
 * Home Page
 */


/**
 * Debug
 */

// *:hover {
//   outline:1px $grey-color dashed;
// }


/**
 * Dark Mode
 */
.dark {
  background-color: darken($background-white, 90%);
  filter: invert(95%) hue-rotate(180deg);

  .post-content {
    border-color: invert($grey-color);
  }

  pre, code, blockquote, .footnotes .post-meta {
    filter: brightness(0.85);
  }

  iframe, img, video, hr {
    filter: invert(95%) hue-rotate(-180deg);
  }
}

body.dark #moon {
  display: none;
}

body:not(.dark) #sun {
  display: none;
}


/**
 * Posts
 */
.footnotes {
  font-size: 0.8em;
  color: $grey-color;
}

figcaption {
  font-size: $small-font-size;
  font-style: italic;
  text-align: center;
}

// Subscripts and Superscripts should not affect line height
sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}


/**
 * Display
 */
.site-header {
  height: 60px;
}

.site-footer {
  height: 40px;
  padding: 10px 0;
}

.page-content {
  // header: 60px
  // footer: 40px + (10px + 10px)
  // body: min-height + (30px + 30px)
  min-height: calc(100vh - 180px);
}


/**
 * About
 */
.profile-image {
  border-radius: 50%;
  max-width: 90%;
  min-width: 200px;
  margin-bottom: 1em;
  @include media-query($on-palm) {
    max-width: 80%;
  }
}

.profile-links {
  padding-top: 0.5em;
  a {
    padding: 0.2em;
  }
}

.profile-div {
  float: right;
  max-width: 35%;
  text-align: center;
  @include media-query($on-palm) {
    max-width: 100%;
  }
}


/**
 * Pagination
 */
.pagination {
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}
