{{ "<!-- begin: layouts/partials/header.html -->" | safeHTML }}
<header class="site-header flex-parent">
    <div class="sidebar"></div>
    <div class="wrapper">
        {{ if not (hasPrefix .RelPermalink "/blog") }}
            <a class="site-title" href="/">{{ .Site.Author.name }}</a>
        {{ else }}
            <a class="site-title" href="/blog">{{ .Site.Title }}</a>
        {{ end }}
        <nav class="site-nav">
            <a id="theme-toggle" class="page-link">
                <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                </svg>
                <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="5"></circle>
                    <line x1="12" y1="1" x2="12" y2="3"></line>
                    <line x1="12" y1="21" x2="12" y2="23"></line>
                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                    <line x1="1" y1="12" x2="3" y2="12"></line>
                    <line x1="21" y1="12" x2="23" y2="12"></line>
                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                </svg>
            </a>
        {{ if or (.IsHome) (eq .Section "resume") }}
            <a class="page-link" href="/blog/">Blog</a>
        {{ else }}
            <a class="page-link" href="/blog/archives/">Archives</a>
            <a class="page-link" href="/">About</a>
        {{ end }}
        </nav>
    </div>
    <div class="sidebar"></div>
</header>
{{ "<!-- end: layouts/partials/header.html -->" | safeHTML }}