{{ define "main" }}
{{"<!-- begin: layouts/home.html -->" | safeHTML }}
<div class="home">

  <p>{{ .Content }}</p>

  <h1 class="page-heading">Recent Posts</h1>

  <ul class="post-list">
    {{ range .Paginator.Pages }}
      <li>
        <div>
          <div class="post-list-meta">
            <span>
              {{- .Date.Format "Jan 01, 2006" -}}
            </span>
          </div>
          <div class="post-list-title">
            <a href="{{- .Permalink | relURL -}}">
              {{- .Title -}}
            </a>
          </div>
        </div>
        <div>
          <div class="post-list-meta">
            {{ range .Params.categories }}
            <a href="/categories/{{ . | urlize }}">
              {{ . }}
            </a>
            {{ end }}
          </div>
          <div class="post-list-subtitle">
              {{ .Params.subtitle }}
          </div>
        </div>
      </li>
    {{ end }}
    {{ partial "pagination" . }}
  </ul>

</div>
{{"<!-- begin: layouts/home.html -->" | safeHTML }}
{{ end }}