{{ define "main" }}
{{"<!-- begin: layouts/taxonomy/list.html -->" | safeHTML }}
<div class="home">

  <p>{{ .Content }}</p>

  <h1 class="page-heading">{{ .Title }}</h1>

  <ul class="post-list">
    {{ range .Paginator.Pages }}
    <li>
      <div>
        <div class="post-list-meta">
          <span>
            {{- .Date.Format "Jan 02, 2006" -}}
          </span>
        </div>
        <div class="post-list-title">
          <a href="{{- .Permalink | relURL -}}">
            {{- .Title -}}
          </a>
        </div>
      </div>
      <div>
        <div class="post-list-meta">
          <a href="{{ relref . .Params.category }}">
            {{- .Params.category -}}
          </a>
        </div>
        <div class="post-list-subtitle">
          <a href="{{ .Permalink | relURL }}">
            {{- .Params.subtitle -}}
          </a>
        </div>
      </div>
    </li>
    {{ end }}
    {{ partial "pagination" . }}
  </ul>

  
</div>
{{"<!-- end: layouts/taxonomy/list.html -->" | safeHTML }}
{{ end }}