<!-- begin: shortcodes/cventry.html -->
<p style="text-align: left">
    {{- with .Get "right" -}}
        <span style="float: right; padding: 0 0 1em 1em">{{- . | markdownify -}}</span>
    {{- end -}}
    <span><strong>{{- .Get "title" | markdownify -}}</strong></span><br />
    {{- with .Get "subtitle" -}}
        <em>{{- . | markdownify -}}</em><br />
    {{- end -}}
    {{- with .Get "desc" -}}
        <span>{{- . | markdownify -}}</span><br />
    {{- end -}}
</p>
<!-- end: shortcodes/cventry.html -->